.red-01 {
    color: #9e0031;
}

.red-02 {
    color: #8e0045;
}

.red-03 {
    color: #770058;
}

.red-04 {
    color: #600047;
}

.red-05 {
    color: #44001a;
}

.purple-04 {
    color: #1F2041;
}

.purple-03 {
    color: #4B3F72;
}

.purple-05 {
    color: #141529;
}

.purple-02 {
    color: #564884
}

.purple-01 {
    color: #67579E;
}

.red-01-bg {
    background: #9e0031;
}

.red-02-bg {
    background: #8e0045;
}

.red-03-bg {
    background: #770058;
}

.red-04-bg {
    background: #600047;
}

.red-05-bg {
    background: #44001a;
}

.purple-04-bg {
    background: #1F2041;
}

.purple-03-bg {
    background: #4B3F72;
}

.purple-05-bg {
    background: #141529;
}

.purple-02-bg {
    background: #564884
}

.purple-01-bg {
    background: #67579E;
}