.layer1 {
    background-image: url(../svg/layer1.svg);
}

.layer2 {
    background-image: url(../svg/layer2.svg);
}

.header-curves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-curves svg {
    position: relative;
    display: block;
    width: calc(100% + 5px);
    height: 60px;
    transform: translateY(-6px) translateX(-5px);
}

.header-curves .shape-fill {
    fill: #67579E;
}

#header-anim-02 {
    visibility: hidden;
}